.operation-global{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.operation-header {
  height: 8vh;
  background: linear-gradient(267deg, #0075ff -14%, #75bdff 99%);
}

.operation-container {
  height: 92vh;
  display: flex;
  flex-direction: column;
  /*background: linear-gradient(to top, #4a90e2, #ffffff);*/
}
